Source: pmg-api
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 12~),
               libapt-pkg-perl,
               libarchive-perl (>= 3.4.0),
               libarchive-zip-perl,
               libauthen-pam-perl,
               libcompress-bzip2-perl,
               libdbd-pg-perl,
               libdbi-perl,
               libemail-address-xs-perl,
               libfile-readbackwards-perl,
               libfile-sync-perl,
               libhtml-scrubber-perl,
               libio-compress-perl,
               liblockfile-simple-perl,
               libmime-tools-perl,
               libnet-ldap-perl,
               libnet-server-perl,
               libpmg-rs-perl (>= 0.7.5),
               libpod-parser-perl,
               libproxmox-acme-perl,
               libproxmox-rs-perl (>= 0.2.0),
               libpve-apiclient-perl,
               libpve-common-perl (>= 7.0-9~),
               libpve-http-server-perl (>= 4~),
               librrds-perl,
               libtemplate-perl,
               libxdgmime-perl,
               p7zip-full,
               perl (>= 5.10.0-19),
               pmg-doc-generator (>= 7.3),
               postgresql-15,
               proxmox-spamassassin,
               tnef,
Standards-Version: 4.5.1
Homepage: https://www.proxmox.com

Package: pmg-api
Architecture: all
Depends: apt (>= 2~),
         clamav-daemon,
         clamav-freshclam,
         clamdscan,
         fetchmail,
         fonts-font-awesome,
         libapt-pkg-perl,
         libarchive-perl (>= 3.4.0-1),
         libarchive-zip-perl,
         libauthen-pam-perl,
         libcompress-bzip2-perl,
         libdbd-pg-perl,
         libdbi-perl,
         libemail-address-xs-perl,
         libfile-readbackwards-perl,
         libfile-sync-perl,
         libfilesys-df-perl,
         libhtml-parser-perl,
         libhtml-scrubber-perl,
         libhtml-tree-perl,
         libio-compress-perl,
         libjs-qrcodejs (>= 1.20201119),
         liblockfile-simple-perl,
         libmail-spf-perl,
         libmime-tools-perl,
         libnet-cidr-lite-perl,
         libnet-ip-perl,
         libnet-ldap-perl,
         libnet-server-perl,
         libpmg-rs-perl (>= 0.7.5),
         libproxmox-acme-perl (>= 1.0.8),
         libproxmox-acme-plugins,
         libproxmox-rs-perl (>= 0.2.0),
         libpve-apiclient-perl,
         libpve-common-perl (>= 7.2-4),
         libpve-http-server-perl (>= 4.1-1),
         librrds-perl,
         libtemplate-perl,
         libterm-readline-gnu-perl,
         libxdgmime-perl,
         openssh-client,
         openssh-server,
         p7zip-full,
         pmg-docs,
         pmg-gui,
         pmg-log-tracker (>= 2.5~),
         postfix (>= 3.7.10),
         postgresql-15,
         proxmox-backup-client (>= 2.2.0),
         proxmox-mini-journalreader (>= 1.3-1),
         proxmox-spamassassin (>= 4.0.0-2),
         pve-xtermjs (>= 1.0-1),
         rrdcached,
         rsync,
         rsyslog,
         shared-mime-info,
         spf-tools-perl,
         sudo,
         tnef,
         ucf,
         ${misc:Depends},
         ${perl:Depends},
Recommends: antiword,
            docx2txt,
            ifupdown2,
            odt2txt,
            poppler-utils,
            proxmox-offline-mirror-helper,
            tesseract-ocr,
            unrtf,
Suggests: zfsutils-linux,
Description: Proxmox Mailgateway API Server Implementation
 This implements a REST API to configure Proxmox Mailgateway.
