Source: pmg-api
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 10~),
               dh-systemd,
               libarchive-perl,
               libarchive-zip-perl,
               libauthen-pam-perl,
               libcompress-bzip2-perl,
               libdbd-pg-perl,
               libdbi-perl,
               libfile-readbackwards-perl,
               libfile-sync-perl,
               libhtml-scrubber-perl,
               liblockfile-simple-perl,
               libmime-tools-perl,
               libnet-ldap-perl,
               libnet-server-perl,
               libpve-apiclient-perl,
               libpve-common-perl (>= 6.0-13),
               libpve-http-server-perl (>= 2.0-12),
               librrds-perl,
               libtemplate-perl,
               libxdgmime-perl,
               p7zip-full,
               perl (>= 5.10.0-19),
               pmg-doc-generator (>= 6.1-5),
               postgresql-11,
               proxmox-spamassassin,
               tnef,
Standards-Version: 3.9.5
Homepage: http://www.proxmox.com

Package: pmg-api
Architecture: all
Depends: apt,
         apt-transport-https,
         clamav-daemon,
         clamav-freshclam,
         clamdscan,
         fetchmail,
         fonts-font-awesome,
         libapt-pkg-perl,
         libarchive-perl,
         libarchive-zip-perl,
         libauthen-pam-perl,
         libcompress-bzip2-perl,
         libdbd-pg-perl,
         libdbi-perl,
         libfile-readbackwards-perl,
         libfile-sync-perl,
         libfilesys-df-perl,
         libhtml-parser-perl,
         libhtml-scrubber-perl,
         libhtml-tree-perl,
         liblockfile-simple-perl,
         libmail-spf-perl,
         libmime-tools-perl,
         libnet-cidr-lite-perl,
         libnet-ip-perl,
         libnet-ldap-perl,
         libnet-server-perl,
         libpve-apiclient-perl,
         libpve-common-perl (>= 6.0-15),
         libpve-http-server-perl (>= 3.0-4),
         librrds-perl,
         libtemplate-perl,
         libterm-readline-gnu-perl,
         libxdgmime-perl,
         openssh-client,
         openssh-server,
         p7zip-full,
         pmg-docs,
         pmg-gui,
         pmg-log-tracker,
         postfix (>= 2.5.5),
         postgresql-11,
         proxmox-backup-client,
         proxmox-mini-journalreader,
         proxmox-spamassassin,
         pve-xtermjs (>= 1.0-1),
         rrdcached,
         rsync,
         shared-mime-info,
         spf-tools-perl,
         sudo,
         tnef,
         ucf,
         ${misc:Depends},
         ${perl:Depends},
Description: Proxmox Mailgateway API Server Implementation
 This implements a REST API to configure Proxmox Mailgateway.
