[Unit]
Description=Daily Proxmox Mail Gateway activities

[Timer]
OnCalendar=01:00
RandomizedDelaySec=5h
Persistent=true

[Install]
WantedBy=timers.target
