[Unit]
Description=Proxmox Mail Gateway's privileged loopback API daemon
Wants=ssh.service
Wants=remote-fs.target
After=network-online.target
After=remote-fs.target
After=ssh.service

[Service]
ExecStart=/usr/bin/pmgdaemon start
ExecStop=/usr/bin/pmgdaemon stop
ExecReload=/usr/bin/pmgdaemon restart
OOMPolicy=continue
PIDFile=/run/pmgdaemon.pid
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target
