[Unit]
Description=Proxmox Mail Gateway's unprivileged API and API-proxy daemon
Wants=pmgdaemon.service
Wants=ssh.service
Wants=remote-fs.target
After=network-online.target
After=pmgdaemon.service
After=remote-fs.target
After=ssh.service

[Service]
ExecStart=/usr/bin/pmgproxy start
ExecStop=/usr/bin/pmgproxy stop
ExecReload=/usr/bin/pmgproxy restart
OOMPolicy=continue
PIDFile=/run/pmgproxy/pmgproxy.pid
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target
