[Unit]
Description=Proxmox Mail Gateway Policy Daemon
ConditionPathExists=/usr/bin/pmgpolicy
Wants=remote-fs.target
After=remote-fs.target
Before=postfix.service

[Service]
ExecStart=/usr/bin/pmgpolicy
KillMode=mixed
TimeoutStopSec=40
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/pmgpolicy.pid
Type=forking

[Install]
WantedBy=multi-user.target
