[Unit]
Description=Proxmox Mail Gateway Policy Daemon
ConditionPathExists=/usr/bin/pmgpolicy
Wants=remote-fs.target
After=remote-fs.target
Before=postfix.service

[Service]
ExecStart=/usr/bin/pmgpolicy
KillMode=mixed
TimeoutStopSec=40
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/pmgpolicy/pmgpolicy.pid
Type=forking
RuntimeDirectory=pmgpolicy
User=pmgpolicy
Group=pmgpolicy
SupplementaryGroups=systemd-journal
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
