[Unit]
Description=Send Daily System Report Mail
ConditionPathExists=/usr/bin/pmgreport
After=postfix.service
After=postgresql.service
Wants=postfix.service
Wants=postgresql.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pmgreport --timespan yesterday --auto

