[Unit]
Description=Send Daily Spam Report Mails
ConditionPathExists=/usr/bin/pmgqm

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/pmgqm purge
ExecStart=/usr/bin/pmgqm send --timespan yesterday

