#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

%:
	dh $@

override_dh_installinit:
	dh_systemd_enable --name=pmgdaemon pmgdaemon.service
	dh_systemd_enable --name=pmgproxy pmgproxy.service
	dh_systemd_enable --name=pmg-smtp-filter pmg-smtp-filter.service
	dh_systemd_enable --name=pmgpolicy pmgpolicy.service
	dh_systemd_enable --name=pmgtunnel pmgtunnel.service
	dh_systemd_enable --name=pmgmirror pmgmirror.service
	dh_systemd_enable --name=pmgnetcommit pmgnetcommit.service
	dh_systemd_enable --name=pmgbanner pmgbanner.service
	dh_systemd_enable --name=pmg-hourly pmg-hourly.service
	dh_systemd_enable --name=pmg-daily pmg-daily.service
	dh_systemd_enable --name=pmgspamreport pmgspamreport.service
	dh_systemd_enable --name=pmgreport pmgreport.service
	dh_systemd_enable --name=pmgsync pmgsync.service

override_dh_systemd_start:
	dh_systemd_start pmg-hourly.timer pmg-daily.timer pmgspamreport.timer pmgreport.timer
	dh_systemd_start --no-restart-on-upgrade --no-start pmgnetcommit.service pmgbanner.service pmgsync.service
	dh_systemd_start pmg-smtp-filter.service pmgpolicy.service pmgtunnel.service pmgmirror.service
	# we handle pmgproxy/pmgdaemon manually (use reload instead of restart to keep vnc connection active)

override_dh_fixperms:
	dh_fixperms --exclude /var/log/pmgproxy
